<h1 class="my-16 text-6xl font-bold text-center">The Lectionary</h1>

<%= form_with url: "/search", method: :get do |form| %>
  <div class="flex flex-col sm:flex-row gap-8 justify-center mt-16 mb-8 mx-auto max-w-96 sm:max-w-max py-4 px-12 bg-neutral-100 rounded shadow-xl">
    <div class="flex flex-nowrap justify-between sm:justify-around items-center">
      <%= form.label :start_date, "Start", class: "mr-2 text-xl font-bold" %>
      <%= form.date_field :start_date, class: "min-w-max" %>
    </div>
    <div class="flex flex-nowrap justify-between sm:justify-around items-center">
      <%= form.label :end_date, "End", class: "mr-2 text-xl font-bold" %>
      <%= form.date_field :end_date, class: "min-w-max" %>
    </div>
  </div>
  <div class="max-w-max mx-auto ">
    <%= form.submit "Search", class: "cursor-pointer py-2 px-8 text-neutral-50 bg-neutral-600 hover:bg-neutral-950 text-xl font-bold shadow rounded" %>
  </div>
<% end %>

<% @results.each do |date, days| %>
  <div class="max-w-screen-md mx-auto my-8 bg-neutral-100 rounded overflow-hidden shadow-xl hover:scale-105 transition">
    <h2 class="py-4 font-bold text-2xl text-center">
      <%= date.to_formatted_s(:long_ordinal) %>
    </h2>

    <% days.each do |day| %>
      <%= link_to day do %>
        <hr>
        <div class="py-4 px-12 flex flex-wrap justify-between gap-4 bg-<%= day.color %>">
          <div>
            <h3 class="mb-4 font-bold text-2xl">
              <%= day.name %><%= ": #{day.service}" if day.service %>
            </h3>
            <p><%= "Year #{day.year}" %></p>
            <p><%= day.season %></p>
          </div>

          <div>
            <ul>
              <% day.lessons.each do |lesson| %>
                <li class="list-disc list-inside">
                  <%= lesson.references %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
