<h1 class="text-6xl font-bold text-center">Lectionary</h1>

<div class="my-16 mx-auto max-w-max py-8 px-16 shadow-xl">
  <%= form_with url: "/search", method: :get, html: {
    class: "flex justify-center content-center gap-4"
  } do |form| %>
    <div>
      <%= form.label :start_date, "Start:" %>
      <%= form.date_field :start_date %>
    </div>
    <div>
      <%= form.label :end_date, "End:" %>
      <%= form.date_field :end_date %>
    </div>
    <div><%= form.submit "Search" %></div>
  <% end %>
</div>

<% @results.each do |date, days| %>
  <div>
    <h2 class="mt-4 font-bold text-2xl">
      <%= date.to_formatted_s(:long_ordinal) %>
    </h2>

    <% days.each do |day| %>
      <h3 class="mt-4 font-bold text-2xl underline">
        <a href="<%= day_path(day) %>">
          <%= day.name %><%= ": #{day.service}" if day.service %>
        </a>
      </h3>

      <p><%= "#{day.season} — Year #{day.year}" %></p>

      <ul>
        <% day.lessons.each do |lesson| %>
          <li class="list-disc list-inside"><%= lesson.print_references %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>
