<h1 class="text-6xl font-bold text-center">The Lectionary</h1>

<%= form_with url: "/search", method: :get do |form| %>
  <div class="flex gap-8 mt-24 mb-8 mx-auto max-w-max py-8 px-16 bg-slate-50 rounded shadow-xl">
    <div>
      <%= form.label :start_date, "Start:", class: "mr-2 font-bold" %>
      <%= form.date_field :start_date %>
    </div>
    <div>
      <%= form.label :end_date, "End:", class: "mr-2 font-bold" %>
      <%= form.date_field :end_date %>
    </div>
  </div>
  <div class="max-w-max mx-auto ">
    <%= form.submit "Search", class: "py-2 px-8 bg-slate-700 hover:bg-slate-800 transition text-slate-50 text-xl font-bold shadow rounded" %>
  </div>
<% end %>

<% @results.each do |date, days| %>
  <div>
    <h2 class="mt-4 font-bold text-2xl">
      <%= date.to_formatted_s(:long_ordinal) %>
    </h2>

    <% days.each do |day| %>
      <h3 class="mt-4 font-bold text-2xl underline">
        <a href="<%= day_path(day) %>">
          <%= day.name %><%= ": #{day.service}" if day.service %>
        </a>
      </h3>

      <p><%= "#{day.season} — Year #{day.year}" %></p>

      <ul>
        <% day.lessons.each do |lesson| %>
          <li class="list-disc list-inside"><%= lesson.print_references %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>
