<h1 class="my-24 text-6xl font-bold text-center">The Lectionary</h1>

<%= form_with url: "/search", method: :get do |form| %>
  <div class="flex gap-8 mt-24 mb-8 mx-auto max-w-max py-8 px-16 bg-neutral-100 rounded shadow-xl">
    <div>
      <%= form.label :start_date, "Start:", class: "mr-2 font-bold" %>
      <%= form.date_field :start_date %>
    </div>
    <div>
      <%= form.label :end_date, "End:", class: "mr-2 font-bold" %>
      <%= form.date_field :end_date %>
    </div>
  </div>
  <div class="max-w-max mx-auto ">
    <%= form.submit "Search", class: "py-2 px-8 bg-red-600 hover:bg-neutral-950 transition text-neutral-50 text-xl font-bold shadow rounded" %>
  </div>
<% end %>

<% @results.each do |date, days| %>
  <div class="max-w-screen-md mx-auto my-8 bg-neutral-100 rounded overflow-hidden shadow-xl hover:scale-105 transition">
    <h2 class="py-4 font-bold text-2xl text-center">
      <%= date.to_formatted_s(:long_ordinal) %>
    </h2>

    <% days.each do |day| %>
      <div class="py-6 px-24 flex flex-wrap justify-between gap-4 bg-<%= day.color %>">
        <div>
          <h3 class="mb-4 font-bold text-2xl underline">
            <a href="<%= day_path(day) %>">
              <%= day.name %><%= ": #{day.service}" if day.service %>
            </a>
          </h3>
          <p><%= "Year #{day.year}" %></p>
          <p><%= day.season %></p>
        </div>

        <div>
          <ul>
            <% day.lessons.each do |lesson| %>
              <li class="list-disc list-inside"><%= lesson.print_references %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
