<div class="max-w-prose mx-auto">
  <div class="my-16 flex flex-wrap justify-between items-center">
    <h1 class="text-4xl font-bold">
      <%= @day.name %><%= ": #{@day.service}" if @day.service %>
    </h1>
    <div data-controller="clipboard">
      <button data-action="clipboard#copy" title="Copy to clipboard">
        <div class="text-3xl">
          <i data-clipboard-target="copyIcon" class="fa-regular fa-copy"></i>
        </div>
      </button>
    </div>
  </div>

  <h2 class="text-2xl mt-8 font-bold">Collect of the Day</h2>
  <% @day.collects.each do |collect| %>
    <p class="my-4"><%= collect.text %></p>
  <% end %>

  <div class="[&>h2]:mt-8 [&>h2]:text-2xl [&>h2]:font-bold [&>p]:my-4">
    <%= @passages_html.html_safe %>
  </div>

  <%= javascript_tag do %>
    textPassages = `<%= @passages_text %>`;
  <% end %>
</div>
