<div class="max-w-prose mx-auto">
  <div class="my-16 flex flex-wrap justify-between items-center">
    <h1 class="text-4xl font-bold text-<%= @day.color %>">
      <%= @day.name %><%= ": #{@day.service}" if @day.service %>
    </h1>
    <div data-controller="clipboard" class="flex justify-center items-center text-3xl">
      <button data-action="clipboard#copy" title="Copy to clipboard">
        <i data-clipboard-target="copyIcon" class="fa-regular fa-copy"></i>
      </button>
    </div>
  </div>

  <h2 class="text-2xl mt-8 font-bold">
    Collect of the Day
  </h2>
  <% @day.collects.each do |collect| %>
    <p class="my-4"><%= collect.text %></p>
  <% end %>

  <div class="[&>p]:my-4 [&>h2]:text-2xl [&>h2]:mt-8 [&>h2]:font-bold">
    <% @lessons_html.each do |lesson_html| %>
      <%= lesson_html.html_safe %>
    <% end %>
  </div>

  <%= javascript_tag do %>
    copyText = `<%= @lessons_text.join("\n\n") %>`;
  <% end %>
</div>
