<div>
  <h1 class="text-4xl font-bold">
    <%= @day.name %><%= ": #{@day.service}" if @day.service %>
  </h1>

  <div data-controller="clipboard">
    <button data-action="clipboard#copy" title="Copy to clipboard">
      Copy
    </button>
    <span data-clipboard-target="copiedIndicator" class="hidden text-green-700 font-semibold">
      copied!
    </span>
  </div>

  <h2 class="text-2xl mt-8 font-bold">Collect</h2>
  <% @day.collects.each do |collect| %>
    <p class="my-4"><%= collect.text %></p>
  <% end %>

  <div class="[&>h2]:mt-8 [&>h2]:text-2xl [&>h2]:font-bold [&>p]:my-4">
    <%= @passages_html.html_safe %>
  </div>

  <%= javascript_tag do %>
    textPassages = `<%= @passages_text %>`;
  <% end %>
</div>
